<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NOHO.Care.Calculator.DAL.Properties.Settings.Thunderball_DevelopmentConnectionString"
            connectionString="Data Source=SQLSERVER2\MSSQL2014;Initial Catalog=Thunderball_Development;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>